/* 1080/16 = 67.5 */
@media (max-width: 67.5em) {
  .title {
    font-size: 4.5rem;
    line-height: 6.5rem;
  }

  .detail {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
  }

  .logo {
    width: 16rem;
    height: auto;
    margin-top: 1rem;
  }

  .logo-heading {
    font-size: 1.8rem;
  }

  .footer-heading {
    font-size: 2rem;
  }
  .contacts {
    font-size: 1.6rem;
  }
  .copyright {
    font-size: 1.6rem;
  }
}

/* 550/16 =  35em */

@media (max-width: 35em) {
  .grid-footer {
    grid-template-columns: 1fr;
    /* text-align: center; */
    align-items: center;
  }
  .address-col {
    grid-row: 1;
    padding: 0 2rem;
    margin-bottom: 3.2rem;
  }
  .logo-col {
    align-items: center;
  }
  .footer {
    margin-bottom: 3.2rem;
    padding: 12rem 0 0 0;
  }
} ;
