* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-height: 100%;
}
body {
  color: #343a40;
  font-family: "Lato", sans-serif;
  background-color: #e7f5ff;
}

.construct {
  margin-top: 24rem;

  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 12rem;
  letter-spacing: 2px;
  line-height: 13rem;
  margin-bottom: 6rem;
  padding: 2rem;
}

.detail {
  font-size: 2.4rem;
  letter-spacing: 1.2rem;
}

.container {
  display: grid;
}

.item-list {
  list-style: none;
}

.footer {
  /* margin-bottom: -100px; */
  text-align: center;
  margin-top: 28rem;
  font-size: 1.4rem;
}

@media (max-width: 1080px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
    margin-bottom: 3rem;
  }

  .detail {
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .footer {
    margin-top: 44rem;
  }
}
