* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-height: 100%;
}
body {
  color: #343a40;
  font-family: "Lato", sans-serif;
  background-color: #e7f5ff;
}

.construct {
  margin-top: 12rem;
  display: grid;

  grid-template-columns: 1fr;
  /* justify-content: space-between; */
  /* align-items: center; */

  text-align: center;
  text-transform: uppercase;
}

.logo {
  height: 24rem;
  width: 24rem;
  opacity: 0.7;
  /* margin: 4rem 0 2rem 0; */
  margin: 5rem;
  align-self: center;
  justify-self: center;
  /* fill: red !important; */
}

.title {
  font-size: 12rem;
  letter-spacing: 2px;
  line-height: 13rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.detail {
  font-size: 2.4rem;
  letter-spacing: 1.2rem;
}

.container {
  display: grid;
}

.item-list {
  list-style: none;
}

.footer {
  /* margin-bottom: -100px; */
  text-align: center;
  margin-top: 8rem;
  font-size: 1.4rem;
}

@media (max-width: 1080px) {
  .construct {
    margin-top: 20rem;
  }
  .logo {
    height: 16rem;
    width: 16rem;
    opacity: 0.7;
    margin: 2rem;
  }

  .title {
    font-size: 5rem;
    line-height: 6.5rem;
    margin-bottom: 1rem;
  }

  .detail {
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .footer {
    margin-top: 30rem;
  }
}
