* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #343a40;
  font-family: "Lato", sans-serif;
  background-color: #e7f5ff;
}

footer p {
  text-align: center;
  margin-top: 200px;
}

.construct {
  margin-top: 250px;
  font-size: 64px;
  letter-spacing: 2px;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
}

.construct p {
  font-size: 24px;
  letter-spacing: 12px;
}

.container {
  display: grid;
}

.item-list {
  list-style: none;
}
